body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkgrey;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}